# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
libdeps/
build/
.cache/
.dummy
compile_commands.json
build_log.txt
.DS_Store

# Arduino
applet/
*.hex
*.bin
*.elf
*.lst
*.o
*.a
*.s
*.su
*.d
*.obj
*.lib
*.mod
*.exp
*.ilk
*.pdb
*.idb
*.io

# IDE / General
.vscode/
.vscode/.browse.vc.db
.vscode/.c_cpp_properties.json
.vscode/.launch.json
.vscode/.settings.json
*.pyc

# Project specific
build_output.txt
*bak

# Agents
.opencode/
.claude/
.cursor/
.codex/

# openspec
archive/
